Package: com.sendom.gubang
Name: GuBang
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SendomZhang
Author: SendomZhang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
